* {
  box-sizing: border-box;
  /* (Bài học 47) */
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
  /* => 1 rem = 10px */
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* Khôi phục lại cỡ chữ mặc định tính theo rem (~ 16px)*/

/* ============== Common ============== */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  /* Bài học 85 */
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  /* Đặt chiều cao cho nút bấm */
  min-width: 118px;
  /* Xác định chiều rộng tối thiểu của nút bấm */
  /* Class này là của thẻ a với display:inline => Không set được padding nên cần chuyển sang display khác (Bài học 51)*/
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.heading-lv2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  /* 126.316% */
  letter-spacing: -0.76px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/* ============== Header ============== */
.header {
  /* background: #8a06be; */
  background: #fffcf4;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
  /* Cách top = 36 - 28 = 8px thì dừng lại  */
}

.header .body {
  display: flex;
  align-items: center;
  /* Căn giữa các item theo trục cross-axis (Flex Container) (Bài học 89.3) */
  padding: 36px 0px 8px;
  /* Chừa 8px để sticky không bị dính sát vào phần tử khác (Bài học 87.6 position:sticky) */
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  /* Nút home chưa đúng, dùng position:absolute (Bài học 87.2) để điều chỉnh lại vị trí */
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  /* Lúc này khi chữ dày lên làm các chữ kế bên bị giật giật gây khó chịu => Dùng text-shadow bài học 65 */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  /* Nút home chưa đúng, dùng position:absolute bài học 87.2 để điều chỉnh lại vị trí */
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  /* Nút home đang ở trạng thái display: inline; => Không set được width, height (không hiển thị được dấu gạch dưới nút home) cần chuyển sang block hoặc inline-block */
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ============== Hero ============== */
.hero {
  padding: 56px 0 65px;
  /* Chuyển sang develop mode, chọn nút Sign Up đo xuống phần hình ảnh được 64px - 8px phần padding được 56px */
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* ============== Hero Left ============== */
.hero .media-block {
  position: relative;
  /* Cần dùng position:absolute (Bài học 87.2) để điều chỉnh lại vị trí của thẻ con */
  width: 48%;
}

.hero .media-block .img {
  /* Lúc này ảnh đang rất to làm vỡ giao diện */
  width: 470px;
  height: 685px;
  /* Kích thước của ảnh, không phải của block chứa ảnh */
  object-fit: cover;
  /* Tránh bị vỡ ảnh */
  border-radius: 20px;
  /* Bo góc theo thiết kế */
}

.hero .hero-summary {
  position: absolute;
  /* Cần dùng position:absolute (Bài học 87.2) để điều chỉnh lại vị trí của thẻ con */
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}
/* Tác động lên các thẻ có class là item đặt sắt ngay sau các thẻ cũng có class là item */

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary label {
  color: #5f5b53;
  font-size: 1.4rem;
  /* font-weight: 400; mặc định là 400 => Bỏ đi */
  line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

/* ============== Hero Right ============== */
.hero .content-block {
  position: relative;
  /* Cần dùng position:absolute (Bài học 87.2) để điều chỉnh lại vị trí của thẻ con */
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
  /* 214 -150 = 64px => h1 .hero .content-block cách top là 64px */
}

.hero .heading {
  color: #171100;
  /* font-family: Sen; */
  font-family: var(--font-heading);
  /* CSS Variables Bài học 86 */
  font-size: 5.8rem;

  font-weight: 700;
  line-height: 1.17;
  /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  /* 166.667% */
  margin-top: 22px;
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  /* Thẻ button là thẻ inline => Bị sai vị trí nên cần display: flex; ở cả khối cta-group */
  align-items: center;
}

.hero .hero-cta {
  border-radius: 32px;
  background: var(--primary-color);

  min-width: 180px;
  line-height: 64px;
}

.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  /* Thẻ button là thẻ inline => Bị sai vị trí nên cần display: flex; ở cả khối cta-group */
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  /* 166.667% */
  margin-left: 14px;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stat {
  margin-top: 8px;
}

.hero .stat strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  /* 122.727% */
  margin-right: 15px;
}

.hero .stat strong:nth-child(2) {
  margin-left: 28px;
}

/* ============== Popular ============== */
/* ============== Popular-Top ============== */
.popular {
  padding: 65px 0;
  /* Muốn cho text không bị dính sát nền, và sau này muốn thêm nền vào thì tiện hơn  */
  /* background-color: blue; */
  margin-top: 135px;
  /* Đã có padding là 65px (vừa set ở trên), muốn cách top 200 thì margin-top = 200 - 65 = 135px */
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  /* 166.667% */
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .controls-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .controls-btn:hover {
  background: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
}

/* ============== Popular ============== */
/* ============== Course List ============== */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  /* justify-content: center; */
  /* background-color: blue; */
  gap: 30px;
}

.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  flex: 1;
  /* Bài học 67 Textoverflow */
}

.popular .course-item:hover {
  border-radius: 12px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  /* 166.667% */
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
  /* 175% */
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
  /* 185.714% */
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  /* 166.667% */
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}

/* ============== Feedback ============== */
.feedback {
  margin-top: 135px 0;
  /* 200 - 65 =  135px */
  background: #2e2100;
  padding: 96px 0;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  /* transform: translateX(-100%); */
  /* transition: all ease 0.5s; */
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
  /* 141.667% */
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
  /* 185.714% */
}

.feedback-item .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}

.feedback-item .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
  /* Hoặc dùng justify-content:space-between trong thẻ cha .feedback-item */
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
  /* 153.846% */
}

/* ============== Features ============== */
.features {
  margin-top: 135px;
  /* Do ta muốn có phần padding: 65px; nên set margin-top: 135px; => 135 + 65 = 200px giống với thiết kế  */
  padding: 65px 0;
  /* background-color: blue; */
}

.features .body {
  display: flex;

  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 30px;
}

.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
  /* 175% */
}

.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--primary-color);
}

/* ============== Features 2 ============== */
.features-2nd {
  margin-top: 70px;
  /* 200 - 65*2 = 70px (Do .feartures đã được set padding: 65px 0;) */
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
  object-fit: cover;
}
